@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: 'Barlow Condensed', sans-serif !important;
}

a {
  color: #00B7FF;
}

.pulse {
  position: absolute;
  top: 15px;
  left: 25px;
  display: block;
  width: 5px;
  height:5px;
  border-radius: 50%;
  background: #db0303;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(226, 13, 13, 0.4);
  animation: pulse 1s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(226, 13, 13, 0.8);
    opacity: 0.6;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(226, 13, 13, 0);
      opacity: 0;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(226, 13, 13, 0);
      opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(226, 13, 13, 0.6);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    opacity: 0.8;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(226, 13, 13, 0);
      box-shadow: 0 0 0 10px rgba(226, 13, 13, 0);
      opacity: 0;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(226, 13, 13, 0);
      opacity: 0;
  }
}

.avatar img 
{
  width: 100%;
}
.login-a .fa-user {
    margin-right: 10px;
}